
.container-fluid {
    font-family: 'Roboto', sans-serif;
    width: 1000px;
    margin: auto;
}
a {
    width: 0;
    height: 0;
}
.container-fluid iconify-icon {
    color: black;
    font-size: 4rem;
   
}
/* .container-fluid h1 {
    margin-bottom: 10px;
    padding-bottom: 20px;
} */

.container-fluid header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10px;
    margin-top: 50px;
}
.container-fluid header .shopping {
    position: relative;
    text-align: right;
}
.shopping {
    display: flex;
    align-items: center;
    margin-right: 100px;
    width: 55px;
    height: 45px;
}
iconify-icon {
  
    font-size: 3.75rem;   
    cursor: pointer;
    transition: all 0.25s ease;
}

.form {
    font-family: 'Roboto', sans-serif;
    height: 490px;
    max-width: 300px ;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
    margin: 25px;
    border-radius: 45px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.351);
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    order: 1;
}
.card {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    margin: 25px;
    border-radius: 45px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.351);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    order: 2;
    width: 300px;
    animation: slideInFromLeft 0.5s ease-out;
    /* Width and height removed to let grid define the size */
}
input {
    border: 2px solid transparent; /* Default state */
    outline: none;
    transition: border 0.5s ease; /
}
input:focus {
    border: 2px solid rgb(153, 153, 153);
    border-radius: 8px;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
#productName {
    max-width: 250px;
    margin-left: 15px;
    margin-right: 30px;
    margin-top: 25px;
    font-size: 26px;
}
#productDescription {
    margin-left: 15px;
    /* margin-top: 5px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    align-self: left;
}
#productPrice {
    margin-left: 15px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.button-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Take the full width to center the button inside it */
}
#addBtn {
        display: inline-block;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        background-color: #f1f1f1;
        transition: background-color 0.3s, color 0.3s;
        align-self: center;
    }

    
    
    
    /* Hover effect for default button */
#addBtn:hover {
        background-color: #989696;
    }
    
div .card {
    max-width: 300px ;
    margin-right: 20px;
    height: 490px;
}

#card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Space between grid items */
    margin-top: 50px;
}
div .card-title {
    font-size: 26px;
    height: 90px; /* Height of the text box */
    overflow: auto;
}
div .card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    height: 190px; /* Height of the text box */
    overflow: auto;
}

div .card-price {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

header {
    position: sticky;
    top: 10px;
    z-index: 15;
}